In [27]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
import pickle

In [38]:
insurance = pd.read_csv('https://raw.githubusercontent.com/oualid-ben/data/main/clean_data_fraud.csv', on_bad_lines='skip')
df = insurance.copy()

# Separating X and y
X = df.drop('fraud_reported', axis=1)
Y = df['fraud_reported']

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25)

In [11]:
# Build KNN model
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, y_train)


# Saving the model
pickle.dump(knn, open('insurance.pkl', 'wb'))

In [12]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

# Saving the model
pickle.dump(logreg, open('insurance_log.pkl', 'wb'))

In [39]:
data = pd.read_csv('https://raw.githubusercontent.com/oualid-ben/data/main/clean_data_fraud.csv', on_bad_lines='skip')
d = {'Minor Damage': 0, 'Major Damage': 1, 'Total Loss': 2, 'Trivial Damage': 3}
data['incident_severity'] = data['incident_severity'].replace(d)
d_ = {'N': 0, 'Y': 1}
data['fraud_reported'] = data['fraud_reported'].replace(d_)
X = data.drop('fraud_reported', axis=1)
y = data['fraud_reported']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)


#####################
### DECISION TREE ###
#####################
R_Train=[]
R_Test=[]

dtc = DecisionTreeClassifier()
dtc.fit(X_train, y_train)

pickle.dump(dtc, open('insurance_tree_1.pkl', 'wb'))

In [35]:
insurance.head()

,policy_annual_premium,umbrella_limit,capital_gains,capital_loss,incident_severity,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,property_claim,fraud_reported
0,1406.91,0,53300,0,1,5,1,1,13020,1
1,1197.22,5000000,0,0,0,8,1,0,780,1
2,1413.14,5000000,35100,0,0,7,3,2,3850,0
3,1415.74,6000000,48900,-62400,1,5,1,1,6340,1
4,1583.91,6000000,66000,-46000,0,20,1,0,650,0

In [37]:
data==insurance

,policy_annual_premium,umbrella_limit,capital_gains,capital_loss,incident_severity,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,property_claim,fraud_reported
0,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...
995,True,True,True,True,True,True,True,True,True,True
996,True,True,True,True,True,True,True,True,True,True
997,True,True,True,True,True,True,True,True,True,True
998,True,True,True,True,True,True,True,True,True,True
999,True,True,True,True,True,True,True,True,True,True